<% layout('layouts/base') %>

<div class="container">
    <div class="row g-3">
        <div class="col-md-6">
            <div class="p-5 mb-4 bg-dark text-white rounded-3">
                <div class="container-fluid py-5">
                  <h1 class="display-5 fw-bold">Order Invoice</h1>
                  <p class="col-md-8 fs-4">Order Id : <%= order._id %></p>
                    <div class="row g-3">
                      <h4>Billing Information</h4>
                    <div class="col-md-6">
                      <label for="inputName" class="form-label">Customer Name</label>
                      <input type="text" class="form-control" id="inputName" readonly placeholder="<%= order.partner.name %>">
                    </div>
                    <div class="col-md-6">
                        <label for="inputContact" class="form-label">Contact</label>
                        <input type="number" class="form-control" id="inputContact" readonly placeholder="<%= order.partner.contact %>">
                      </div>
                    <div class="col-12">
                      <label for="inputAddress" class="form-label">Address</label>
                      <input type="text" class="form-control" id="inputAddress" readonly placeholder="<%= order.partner.address.location %>">
                    </div>
                    <div class="col-md-6">
                      <label for="inputState" class="form-label">State</label>
                      <input type="text" class="form-control" id="inputState" readonly placeholder="<%= order.partner.address.state %>">
                    </div>
                    <div class="col-md-6">
                      <label for="inputZip" class="form-label">Zip</label>
                      <input type="number" class="form-control" id="inputZip" readonly placeholder="<%= order.partner.address.pincode %>">
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="p-5 mb-4 bg-light rounded-3">
                <h4>Scan QR for POD Initiation & Report Damages</h4>
                <img src="<%= url %>" class="img-fluid">
            </div>            
        </div>
    </div>
</div>